<html>
    <head>
        <meta name = "description" content="This is my first html code!">
        <meta charset = "UTF-8">
        <title>MY FIRST HTML CODEEE</title>
    </head>
    <body style = background-color:black;color:greenyellow>

        <header>
            <h1><i><b>THIS IS MY FIRST HTML CODE</i></b></h1>
            <hr/>
        </header>
<!--this is a comment tag! The program will ignore this line if i put this comment tag-->
        <main>
            <article>
                <section>
                    <h2>Hi this is an example of an article</h2>
                    I'm learning html code for about 2 days now?
                </section>
                <section>
                    <h2>This is another section of the article</h2>
                    I'm using visual studio code as my text editor aka: IDE :D    
                </section>
            </article>
            <a href="https://www.youtube.com/watch?v=pQN-pnXPaVg&t=3391s" target="_blank" style=color:yellow;>
            <h3>I used this youtube video to learn how to make a HTML page!</h3></a>
            <img src = "images and videos/5ea9887b0fc63978b759c857.jfif" width = 100>\

            <iframe width="560" height="315" src="https://www.youtube.com/embed/pQN-pnXPaVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

            
        </main>
        
        <footer>
            <p>we should put all the video / image links into footer</p>
            <p>2 power of 10 is 2<sup>10</sup></p>
        </footer>
    </body> 
</html>  